<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>遅延一覧</title>
</head>
<body>
    
    <a class="home" href="../main_manu.html">ホームに戻る</a>

    <h1>遅延一覧</h1>

    <table class="deta-table">
        <thead>
            <tr>
                <th>会員ID</th>
                <th>貸出日</th>
                <th>返却日</th>
                <th>遅延日数</th>
                <th>資料ID</th>
                <th>資料タイトル</th>
                <th>著者名</th>
            </tr>
        </thead>
        <tbody>
            <td>1111</td>
            <td>2025/3/27</td>
            <td>2025/4/15</td>
            <td>10日</td>
            <td>2222</td>
            <td>本1</td>
            <td>著者1</td>
        </tbody>
       
    </table>

    <a class="back" href="work_menu.html">戻る</a>

    
</body>
</html>