<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>遅延一覧</title>
<link rel="stylesheet" th:href="@{/css/work_table.css}">
</head>
<body>
	<div class="reserve-list">
		<div class="container menu-container">

			<a class="header-back-link" th:href="@{/main/menu}">ホームに戻る</a>

			<header class="header">
				<h1>遅延一覧</h1>
			</header>

			<table class="data-table">
				<thead>
					<tr>
						<th>会員ID</th>
						<th>貸出日</th>
						<th>返却期限</th>
						<th>遅延日数</th>
						<th>資料ID</th>
						<th>資料タイトル</th>
						<th>著者名</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="lending : ${lendings}">
						<td th:text="${lending.member.memberId}"></td>
						<td th:text="${lending.lendDate}"></td>
						<td th:text="${lending.dueDate}"></td>
						<td th:text="|${T(java.time.temporal.ChronoUnit).DAYS.between(lending.dueDate, today)}日|"></td>
						<td th:text="${lending.item.itemId}"></td>
						<td th:text="${lending.item.book.bookName}"></td>
						<td th:text="${lending.item.book.authorName}"></td>
					</tr>
				</tbody>
			</table>

			<a class="header-back-link" th:href="@{/work/menu}">戻る</a>

		</div>
	</div>
</body>

</html>
