<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約キャンセル完了画面</title>
</head>
<body>
    <a class="home" href="../main_manu.html">ホームに戻る</a>
    <h1>予約キャンセル完了</h1>
    <table class="data-table">
        <thead>
            <tr>
                <th>会員ID</th>
                <th>予約日</th>
                <th>取り置き期限</th>
                <th>資料ID</th>
                <th>資料タイトル</th>
                <th>著者名</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1111</td>
                <td>2025/6/19</td>
                <td>2025/7/3</td>
                <td>2222</td>
                <td>資料1</td>
                <td>著者1</td>

            </tr>
        </tbody>
    </table>
    <p>上記の予約をキャンセルしました</p>
    <a class="" th:href="@{/work/reserve/list}">確認して予約一覧へ</a>

</body>
</html>