<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約一覧</title>
</head>
<body>
    <a class="home" href="../main_manu.html">ホームに戻る</a>
    <h1>予約一覧</h1>
    <input type="radio" name="reserve" value="">予約確保中
    <input type="radio" name="reserve" value="">予約全件表示

    <table class="data-table">
        <thead>
            <tr>
                <th>会員ID</th>
                <th>予約日</th>
                <th>取り置き期限</th>
                <th>資料ID</th>
                <th>資料タイトル</th>
                <th>著者名</th>
                <th>キャンセル</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1111</td>
                <td>2025/6/19</td>
                <td>2025/7/3</td>
                <td>2222</td>
                <td>資料1</td>
                <td>著者1</td>
                <td><a class="cnacel" href="reserve_cancel_confirm.html"></a></td>
            </tr>
        </tbody>
    </table>

</body>
</html>