
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>業務連絡メニュー</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

  <div class="container menu-container">
    <header class="header-sub-menu header-work">
      <a th:href="@{/}" class="header-back-link">メインメニュー</a>
      <h1 class="header-title">業務連絡</h1>
    </header>

    <main class="menu-container">
      <div class="menu-row">
        <a th:href="@{/work/delay/list}" class="menu-item menu-item-work">
          <span class="menu-item-text">遅延</span>
        </a>
        <a th:href="@{/work/reserve/list}" class="menu-item menu-item-work">
          <span class="menu-item-text">予約</span>
        </a>
      </div>
    </main>
  </div>

</body>
</html>
