<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>業務連絡メニュー</title>

    <link rel="stylesheet" th:href="@{/css/work.css}">

</head>
<body>

	<div class="container menu-container">
        <header class="header">
        <div class="back-link">
    <a th:href="@{/}" class="header-back-link">メインメニュー</a>
	</div>
	<h1>業務連絡</h1>
	</header>

	<div class="button-area">
  <a class="menu-button" th:href="@{/work/delay/list}">遅延</a>
  <a class="menu-button" th:href="@{/work/reserve/list}">予約</a>
</div>
    </div>



</body>
</html>