<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>更新＞入力</title>
</head>
<body>
	<form th:action="@{/item/insert/insert}" method="post" th:object="${item}">

		商品名：<span th:text="*{name}"></span>
		<br />
		価格：<span th:text="*{price}"></span>
		<br />

		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{name}" />
		<input type="hidden" th:field="*{price}" />
		<input type="submit" value="送信（アクション）" />

	</form>
</body>
</html>