<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
</head>
<body>
	<a th:href="@{/item/insert/input}">登録機能</a>
	<hr />
	<span th:if="message">[[${message}]]</span>
	<table th:if="${!#lists.isEmpty(itemList)}" border="1">
		<tr th:each="item : ${itemList}">
			<td th:text="${item.id}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
			<td><a th:href="@{/item/update/input(id=${item.id})}">更新</a></td>
			<td><a th:href="@{/item/delete/confirm(id=${item.id})}">削除</a></td>
		</tr>
	</table>
</body>
</html>