<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>貸出画面</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="../../static/css/style.css">

</head>
<body>

    <div class="container">
        <header>
            <h1>貸出</h1>
        </header>

        <main>
            <form action="#" method="post" class="lending-form">

                <div class="error-message">
                    </div>

                <input type="text" class="input-field" name="memberId" placeholder="会員ID入力欄">

                <div class="form-columns">
                    <div class="column">
                        <input type="text" class="input-field" name="itemId[]" placeholder="資料ID入力欄">
                        <input type="text" class="input-field" name="itemId[]" placeholder="資料ID入力欄">
                        <input type="text" class="input-field" name="itemId[]" placeholder="資料ID入力欄">
                        <input type="text" class="input-field" name="itemId[]" placeholder="資料ID入力欄">
                        <input type="text" class="input-field" name="itemId[]" placeholder="資料ID入力欄">
                    </div>
                    <div class="column">
                        <input type="text" class="input-field" name="itemId[]" placeholder="資料ID入力欄">
                        <input type="text" class="input-field" name="itemId[]" placeholder="資料ID入力欄">
                        <input type="text" class="input-field" name="itemId[]" placeholder="資料ID入力欄">
                        <input type="text" class="input-field" name="itemId[]" placeholder="資料ID入力欄">
                        <input type="text" class="input-field" name="itemId[]" placeholder="資料ID入力欄">
                    </div>
                </div>
                <a href="lending_confirm.html" class="submit-button">登録</a>
                <a href="../main_manu.html" class="back-link">戻る</a>
                
            </form>
        </main>
    </div>

</body>
</html>