<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>貸出画面</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<div class="container">
		<header class="header-sub-menu header-lending">
		<a th:href="@{/}" class="header-back-link">メインメニュー</a>
			<h1 class="header-title">貸出</h1>
		</header>

		<main>
			<form th:action="@{/lending/confirm}" method="post"
				class="lending-form" th:object="${lendingForm}">

				<div class="error-summary"
					th:if="${errorMessage != null or #fields.hasErrors('*')}">
					<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
					<ul th:if="${#fields.hasErrors('*')}">
						<li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
					</ul>
				</div>
				<input type="text" class="input-field" th:field="*{memberId}"
					placeholder="会員ID入力欄">


				<div class="form-columns">
					<div class="column">
						<input type="text" class="input-field" th:field="*{itemIds[0]}"
							placeholder="資料ID入力欄"> <input type="text"
							class="input-field" th:field="*{itemIds[1]}"
							placeholder="資料ID入力欄"> <input type="text"
							class="input-field" th:field="*{itemIds[2]}"
							placeholder="資料ID入力欄"> <input type="text"
							class="input-field" th:field="*{itemIds[3]}"
							placeholder="資料ID入力欄"> <input type="text"
							class="input-field" th:field="*{itemIds[4]}"
							placeholder="資料ID入力欄">
					</div>
					<div class="column">
						<input type="text" class="input-field" th:field="*{itemIds[5]}"
							placeholder="資料ID入力欄"> <input type="text"
							class="input-field" th:field="*{itemIds[6]}"
							placeholder="資料ID入力欄"> <input type="text"
							class="input-field" th:field="*{itemIds[7]}"
							placeholder="資料ID入力欄"> <input type="text"
							class="input-field" th:field="*{itemIds[8]}"
							placeholder="資料ID入力欄"> <input type="text"
							class="input-field" th:field="*{itemIds[9]}"
							placeholder="資料ID入力欄">
					</div>
				</div>

				<button type="submit" class="submit-button">登録</button>



			</form>
		</main>
	</div>

</body>
</html>