<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メインメニュー</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="container menu-container">
    <h1 class="menu-title">メインメニュー</h1>
    <div class="menu-grid">
      <a th:href="@{/items}"         class="menu-item menu-item-material">
        <span class="menu-item-text">資料管理</span>
      </a>
      <a th:href="@{/members}"       class="menu-item menu-item-member">
        <span class="menu-item-text">会員管理</span>
      </a>
      <a th:href="@{/lendings/input}"class="menu-item menu-item-lending">
        <span class="menu-item-text">貸出</span>
      </a>
      <a th:href="@{/returns/input}" class="menu-item menu-item-return">
        <span class="menu-item-text">返却</span>
      </a>
    </div>
  </div>
</body>
</html>