<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会員一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container container-wide">
    <header class="header-sub-menu header-member">
        <a th:href="@{/}" class="header-back-link">メインメニュー</a>
        <h1 class="header-title">会員一覧</h1>
    </header>

    <main class="page-content">
        <form action="/member/search" method="get" class="search-form">
            <input type="search" name="keyword" class="search-input" placeholder="氏名、IDなどで検索...">
            <button type="submit" class="search-button">検索</button>
        </form>

        <table class="data-table">
            <thead>
                <tr>
                    <th>会員ID</th>
                    <th>氏名</th>
                    <th>住所</th>
                    <th>電話番号</th>
                    <th>メール</th>
                    <th>生年月日</th>
                    <th>登録日</th>
                    <th>退会日</th>
                    <th>変更</th>
                    <th>予約</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}">001</td>
                    <td th:text="${member.name}">山田 太郎</td>
                    <td th:text="${member.address}">北海道札幌市中央区1-2-3</td>
                    <td th:text="${member.phone}">090-1234-5678</td>
                    <td th:text="${member.email}">taro.yamada@example.jp</td>
                    <td th:text="${member.birthDate}">1985-07-15</td>
                    <td th:text="${member.registDate}">2024-01-05</td>
                    <td th:text="${member.retireDate}">-</td>
                    <td><a th:href="@{'/member/edit/' + ${member.id}}" class="btn-table-edit">変更</a></td>
                </tr>
            </tbody>
        </table>
    </main>
</div>

</body>
</html>
