<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>資料登録</title>
</head>
<body>
    <h1>資料登録</h1>

    <div class="nav">
        <a class="nav-list" href="..main_manu.html">ホーム</a> > 現在のページ
    </div>

    <form action="book_registation_confirm.html" method="post">
        <label for="bookname">
        書籍名<input type="text" name="書籍名"></label>
        <label for="bookrubi">
        書籍名フリガナ<input type="text" name="書籍名フリガナ"></label></br>
        <label for="arrivaldate">
        入荷年月日<input type="date" name="入荷年月日"></label>
        <label for="publish">
        出版社<input type="text" name="出版社"></label></br>
        <label for="author">
        著者名<input type="text" name="著者名"></label>
        <label for="authorrubi">
        著者名フリガナ<input type="text" name="著者名フリガナ"></label></br>
        <label for="publishdate">
        出版年月日<input type="date" name="出版年月日"></label>
        <label for="genere">
        資料ジャンル<select name="資料ジャンル">
            <option value="novel,essay">小説・エッセイ</option>
            <option value="business,economy">ビジネス・経済</option>
            <option value="computer,コンピュータ・IT">コンピュータ・IT</option>
            <option value="philosophy,ideology,history">哲学・思想・歴史</option>
            <option value="art,desigh">芸術・デザイン</option>
            <option value="language,study">語学・学習参考書</option>
            <option value="hobby,practical use">趣味・実用</option>
            <option value="cooking,living">料理・暮らし</option>
            <option value="traveling,guide">旅行、ガイドブック</option>
            <option value="picture,children's book ">絵本・児童書</option>
            <option value="novel,essay">コミック</option>

        </select></label><br>
        <label for="ISBN">
        ISBN<input type="text" name="ISBN"></label>
        <label for="type">
        資料区分<select name="資料区分">
            <option value="general">一般書(単行本)</option>
            <option value="paperback book">文庫本</option>
            <option value="new book">新書</option>
            <option value="big">大型本</option>
            <option value="magazine">雑誌</option>
            <option value="newspaper">新聞</option>
            <option value="CD">CD</option>
            <option value="DVD/Blu-ray">DVD/Blu-ray</option>
            <option value="comic">コミック</option>
        </select></label><br>

        <input type="submit" value="登録">
        
    </form>
    
</body>
</html>