<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>資料予約完了</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <header class="header-sub-menu header-material">
            <h1 class="header-title">資料予約完了</h1>
        </header>
        <main class="confirmation-content" th:object="${completedReservation}">
            <div class="alert alert-success">
                <p>以下の内容で予約を完了しました。</p>
            </div>

            <div class="info-box">
                <span class="info-label">書籍名</span>
                <p class="info-value" th:text="*{book.bookName}"></p>
            </div>
            <div class="info-box">
                <span class="info-label">会員名</span>
                <p class="info-value" th:text="*{member.name}"></p>
            </div>
             <div class="info-box">
                <span class="info-label">予約日</span>
                <p class="info-value" th:text="*{#temporals.format(reserveDate, 'yyyy/MM/dd')}"></p>
            </div>

            <div class="action-buttons">
                <a th:href="@{/book/menu}" class="btn btn-secondary">資料管理メニューへ</a>
            </div>
        </main>
    </div>
</body>
</html>