<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>資料管理メニュー</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

    <div class="container">
        <header class="header-sub-menu header-material">
            <a href="main_menu.html" class="header-back-link">メインメニュー</a>
            <h1 class="header-title">資料管理</h1>
        </header>

        <main class="menu-container">
            <div class="menu-grid">
                <a href="book_registration_input.html" class="menu-item menu-item-material">
                    <span class="menu-item-text">資料登録</span>
                </a>
                <a href="overdue_list.html" class="menu-item menu-item-material">
                    <span class="menu-item-text">遅延</span>
                </a>
                <a href="book_search.html" class="menu-item menu-item-material">
                    <div>
                        <span class="menu-item-text">検索</span>
                        <span class="menu-item-subtext">検索/変更/削除</span>
                    </div>
                </a>
                <a href="lending_history_all.html" class="menu-item menu-item-material">
                    <span class="menu-item-text">貸出履歴</span>
                </a>
            </div>
        </main>
    </div>

</body>
</html>