<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員情報変更</title>
</head>
<body>
    
    
        <a href="../main_manu.html">ホームに戻る</a> 
    

    <h1>会員情報変更</h1>

    <form action="member_registation_confirm.html" method="post">
        <label for="membername">
        氏名<input type="text" name="氏名"></label>
        <label for="membernamerubi">
        氏名フリガナ<input type="text" name="氏名フリガナ"></label></br>
        <label for="birthday">
        生年月日<input type="text" name="生年月日"></label>
        <label for="adress">
        住所<input type="text" name="住所"></label><br>
        <label for="telnumber">
        電話番号<input type="text" name="電話番号"></label>
        <label for="mail">
        メールアドレス<input type="date" name="メールアドレス"></label><br>

        <input type="submit" value="登録">
    </form>   
    
</body>
</html>