<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員一覧</title>
</head>
<body>
    <a href="../main_manu.html">ホームに戻る</a>
    <h1>会員一覧</h1>

    <div class="searchbox"><form action="@@@" method="get">
        
        <input type="search" name="search" placeholder="キーワードを入力">
        <input type="submit" name="submit" value="検索">
    </form></div>
    
    

    <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
        <th>生年月日</th>
        <th>会員登録日</th>
        <th>退会日</th>
        
        <th>履歴</th>
        <th>変更</th>

    </tr>
    <tr th:each="拡張for">
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:text="${}"></td>
        <td th:action></td>
        <td th:text="${}"></td>
    </tr>


</body>
</html>